.background {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../img/signin_bg.jpg") no-repeat center;
  position: relative;
}

.panel {
  padding: 50px;
  background-color: white;
  text-align: center;
  height: 500px;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blue {
  background-color: blue;
}

.bottom-m {
  margin-bottom: 10px;
}

.top-m {
  margin-top: 10px;
}
